.menu {
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    margin-bottom: 70px;
;}


ul {
    margin: 0;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size:2rem;
    color:white;
    animation-name:glow;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    text-transform: uppercase;
}

@keyframes glow{
    from{text-shadow:0px 0px 5px #BBD2C5,0px 0px 5px #536976;}
    to{text-shadow:0px 0px 20px #BBD2C5,0px 0px 20px #536976;}
}

a {
    text-decoration: none;
    color: white;
}

.activeLink {
    font-weight: bold;
    color: #252525;
}